# 1. NameError

In [19]:
year = 2020

In [20]:
print(year + 1)

2021

# 2. IndexError

In [21]:
lista = ['gato','pato','perro','dinosaurio']
print(lista[4])

IndexError: list index out of range

# 3. SintaxError

In [22]:
x = 5
if x > 4:
  print('El número x es mayor que 4')

El número x es mayor que 4

# 4. TypeError

In [23]:
x = 5
y = 3
suma = x + y
print(suma)

8

# 5. AttributeError

In [24]:
lista = ['gato','pato','perro','dinosaurio']
#lista.append('hipopotamo')
lista.insert(0,'conejo')
print(lista)

['conejo', 'gato', 'pato', 'perro', 'dinosaurio']

# 6. ModuleNotFoundError

In [25]:
import jellyfish

In [ ]:
!pip install jellyfish

In [26]:
import jellyfish
jellyfish.jaro_winkler_similarity('carro', 'carrito')

0.9428571428571428

# 7. ZeroDivisionError

In [27]:
numero = 10
resultado = numero / 0
print(resultado)

ZeroDivisionError: division by zero

In [28]:
try:
  resultado = numero / 0
except ZeroDivisionError:
  resultado = None
print(resultado)

None

# 8. UnicodeDecodeError

In [29]:
import pandas as pd

In [30]:
df = pd.read_csv("Consumo_cerveza.csv", sep=';')
df

          fecha  temp_media  temp_min  temp_max  lluvia  fds  consumo
0    01/01/2015       27.30      23.9      32.5     0.0    0    25461
1    02/01/2015       27.02      24.5      33.5     0.0    0    28972
2    03/01/2015       24.82      22.4      29.9     0.0    1    30814
3    04/01/2015       23.98      21.5      28.6     1.2    1    29799
4    05/01/2015       23.82      21.0      28.3     0.0    0    28900
..          ...         ...       ...       ...     ...  ...      ...
360  27/12/2015       24.00      21.1      28.2    13.6    1    32307
361  28/12/2015       22.64      21.1      26.7     0.0    0    26095
362  29/12/2015       21.68      20.3      24.1    10.3    0    22309
363  30/12/2015       21.38      19.3      22.4     6.3    0    20467
364  31/12/2015       24.76      20.2      29.0     0.0    0    22446

[365 rows x 7 columns]

In [35]:
import csv

def try_encoding(filename, encoding):
    try:
        pd.read_csv("Consumo_cerveza.csv",sep=';',encoding=encoding)
        print('Encoding Correcto: ',encoding)
    except UnicodeDecodeError:
        print('Encoding Incorrecto: ',encoding)
        pass

encodings = ['ISO-8859-1', 'UTF-8', 'latin-1']

for encoding in encodings:
    try_encoding('Consumo_cerveza.csv', encoding)
try_encoding(df,encoding)

Encoding Correcto:  ISO-8859-1
Encoding Correcto:  UTF-8
Encoding Correcto:  latin-1
Encoding Correcto:  latin-1

In [ ]:
import pandas as pd
# df = pd.read_csv("Consumo_cerveza.csv", encoding='ISO-8859-1', sep='\t', names = ['code', 'detail'])
df = pd.read_csv("Consumo_cerveza.csv", encoding='ISO-8859-1', sep=';', names = ['code', 'detail'])
df