Contadores

In [1]:
import pandas as pd

In [2]:
list('asdaesdaesdaesda')

['a',
 's',
 'd',
 'a',
 'e',
 's',
 'd',
 'a',
 'e',
 's',
 'd',
 'a',
 'e',
 's',
 'd',
 'a']

In [4]:
s = pd.Series(list('asdaesdaesdaesda'))
s

0     a
1     s
2     d
3     a
4     e
5     s
6     d
7     a
8     e
9     s
10    d
11    a
12    e
13    s
14    d
15    a
dtype: object

In [15]:

s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [18]:
len(s.unique())

4

In [19]:
s.count()

16

In [20]:
s.value_counts()

a    5
s    4
d    4
e    3
Name: count, dtype: int64

In [21]:
datos = pd.read_csv('alquiler.csv', sep=';')

In [22]:
datos.head()

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN

In [25]:
datos['Tipo'].unique()

array(['Habitación', 'Casa', 'Local comercial', 'Departamento',
       'Casa en condominio', 'Edificio completo', 'Flat', 'Tienda/Salón',
       'Almacén', 'Casa comercial', 'Casa de villa', 'Terreno', 'Cochera',
       'Loft', 'Tienda en Centro Comercial', 'Chacra',
       'Terreno em condominio', 'Oficina', 'Chalet', 'Studio', 'Hotel',
       'Local industrial'], dtype=object)

In [24]:
datos['Tipo'].value_counts()

Tipo
Departamento                  19532
Local comercial                6815
Tienda/Salón                   1426
Casa en condominio              996
Casa                            967
Habitación                      836
Almacén                         623
Flat                            476
Edificio completo               301
Casa comercial                  265
Casa de villa                   249
Tienda en Centro Comercial      247
Cochera                          82
Terreno                          70
Loft                             51
Oficina                          10
Terreno em condominio             5
Studio                            4
Hotel                             2
Chacra                            1
Chalet                            1
Local industrial                  1
Name: count, dtype: int64

En esta aula, aprendimos:

Como crear variables
Cómo excluir variables usando del, pop() y drop()
Contadores, a través de value_counts()