In [1]:
import numpy as np

In [2]:
np1 = np.arange(1000000)

In [3]:
%time for _ in range(100): np1 *=2

CPU times: total: 62.5 ms
Wall time: 72.7 ms

In [4]:
list1 = list(range(1000000))

In [5]:
# %time for _ in range(100): list1  = [x*2 for x in list1]

In [6]:
km = np.array([40,50,30,0,60])
años = np.array([2003,1991,1990,2019,2006])

In [7]:
resultado = 2023 - años
resultado

array([20, 32, 33,  4, 17])

In [8]:
media = km  / resultado
media

array([2.        , 1.5625    , 0.90909091, 0.        , 3.52941176])

In [9]:
40/20

2.0

In [10]:
datos = np.array([km, años])
datos

array([[  40,   50,   30,    0,   60],
       [2003, 1991, 1990, 2019, 2006]])

In [11]:
resultado = datos[0] / (2023 - datos[1])
resultado

array([2.        , 1.5625    , 0.90909091, 0.        , 3.52941176])

In [12]:
resultado = datos[0] * datos[1]
resultado

array([ 80120,  99550,  59700,      0, 120360])

In [13]:
resultado = datos[0] + datos[1]
resultado

array([2043, 2041, 2020, 2019, 2066])

In [14]:
resultado = datos[0] - datos[1]
resultado

array([-1963, -1941, -1960, -2019, -1946])

In [15]:
# IMC = peso / altura ^ 2

In [16]:
datos = np.array([km, años])
datos

array([[  40,   50,   30,    0,   60],
       [2003, 1991, 1990, 2019, 2006]])

In [17]:
datos[0][2]

30

In [18]:
datos[1][2]

1990

In [19]:
lista = np.arange(50)
lista

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [20]:
lista[10:41:2]

array([10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40])

In [21]:
lista[1::2]
# selecciona los impares

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33,
       35, 37, 39, 41, 43, 45, 47, 49])

In [22]:
lista[::2]
# selecciona los pares

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32,
       34, 36, 38, 40, 42, 44, 46, 48])

In [23]:
datos

array([[  40,   50,   30,    0,   60],
       [2003, 1991, 1990, 2019, 2006]])

In [24]:
datos[0][2:]

array([30,  0, 60])

In [25]:
datos[1][::2]

array([2003, 1990, 2006])

In [26]:
datos[datos > 1991]

array([2003, 2019, 2006])

In [27]:
datos[datos < 50]

array([40, 30,  0])

In [28]:
carros = datos[0]

In [29]:

datos[:2, :2]

array([[  40,   50],
       [2003, 1991]])

In [30]:
contador=np.arange(10)
contador

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [31]:
contador.reshape((5,2))

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [32]:
contador.reshape((5,2), order='C')

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [33]:
contador.reshape((5,2), order='F')

array([[0, 5],
       [1, 6],
       [2, 7],
       [3, 8],
       [4, 9]])

In [34]:
km = [40,50,30,0,60]
años = [2003,1991,1990,2019,2006]

In [35]:
info = km + años
info

[40, 50, 30, 0, 60, 2003, 1991, 1990, 2019, 2006]

In [36]:
np.array(info).reshape((2,5))

array([[  40,   50,   30,    0,   60],
       [2003, 1991, 1990, 2019, 2006]])

In [37]:
np.array(info).reshape((5,2),order='F')

array([[  40, 2003],
       [  50, 1991],
       [  30, 1990],
       [   0, 2019],
       [  60, 2006]])

In [38]:
datos = np.array(
    [
        ['Roberto', 'casado', 'masculino'],
        ['Sheila', 'soltero', 'femenino'],
        ['Bruno', 'soltero', 'masculino'],
        ['Rita', 'casado', 'femenino']
    ]
)

In [39]:
datos1 = datos.copy()

In [40]:
datos1.resize((10,10), refcheck=False)
datos1

array([['Roberto', 'casado', 'masculino', 'Sheila', 'soltero',
        'femenino', 'Bruno', 'soltero', 'masculino', 'Rita'],
       ['casado', 'femenino', '', '', '', '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', '']], dtype='<U9')

In [41]:
datos1[5][0] = 'Neo777'
datos1[9][0] = 'Pam666'
datos1

array([['Roberto', 'casado', 'masculino', 'Sheila', 'soltero',
        'femenino', 'Bruno', 'soltero', 'masculino', 'Rita'],
       ['casado', 'femenino', '', '', '', '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', ''],
       ['Neo777', '', '', '', '', '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', ''],
       ['Pam666', '', '', '', '', '', '', '', '', '']], dtype='<U9')

In [42]:
# datos = np.array(
#     [
#         ['Roberto', 'casado', 'masculino'],
#         ['Sheila', 'soltero', 'femenino'],
#         ['Bruno', 'soltero', 'masculino'],
#         ['Rita', 'casado', 'femenino']
#     ]
# )

datos = np.array(
    [
        ['KKK111', '', ''],
       
    ]
)

In [43]:
datos_new = datos.copy()

In [44]:
datos_new.resize((10,20), refcheck=False)
datos_new

array([['KKK111', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', '']], dtype='<U6')

In [45]:
datos_new[7][0]='KEM311'
datos_new[5][5]='NEO777'
datos_new[9][15]='SAM666'
datos_new[-1][0]='KEM222'
datos_new[3][5]='NEO444'
datos_new[0][15]='SAM333'
datos_new

array([['KKK111', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        'SAM333', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', ''],
       ['', '', '', '', '', 'NEO444', '', '', '', '', '', '', '', '', '',
        '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', ''],
       ['', '', '', '', '', 'NEO777', '', '', '', '', '', '', '', '', '',
        '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', ''],
       ['KEM311', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', '', ''],
       ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        '', '', '', ''],
       ['KEM222', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
        'SAM666', '', '', '', '']], dtype='<U6')

In [46]:
años = np.loadtxt(fname='carros-años.txt')
km = np.loadtxt(fname='carros-km.txt')
valor = np.loadtxt(fname='carros-valor.txt')

In [50]:
ds = np.column_stack((años, km, valor))
ds

array([[2.0030000e+03, 4.4410000e+04, 8.8078640e+04],
       [1.9910000e+03, 5.7120000e+03, 1.0616194e+05],
       [1.9900000e+03, 3.7123000e+04, 7.2832160e+04],
       [2.0200000e+03, 0.0000000e+00, 1.2454907e+05],
       [2.0060000e+03, 2.5757000e+04, 9.2612100e+04],
       [2.0120000e+03, 1.0728000e+04, 9.7497730e+04],
       [2.0200000e+03, 0.0000000e+00, 5.6445200e+04],
       [2.0090000e+03, 7.7599000e+04, 1.1231044e+05],
       [2.0100000e+03, 9.9197000e+04, 1.2071627e+05],
       [2.0110000e+03, 3.7978000e+04, 7.6566490e+04],
       [2.0020000e+03, 1.2859000e+04, 7.1647590e+04],
       [2.0070000e+03, 8.0520000e+03, 7.3919530e+04],
       [2.0010000e+03, 8.9773000e+04, 1.1273299e+05],
       [2.0200000e+03, 0.0000000e+00, 5.3183380e+04],
       [2.0090000e+03, 4.1457000e+04, 1.2748842e+05],
       [2.0160000e+03, 1.1560700e+05, 5.9910400e+04],
       [2.0120000e+03, 4.6449000e+04, 6.1118590e+04],
       [2.0200000e+03, 0.0000000e+00, 8.8552390e+04],
       [2.0160000e+03, 3.7086000e+04, 6.2696690e+04],
       [2.0170000e+03, 1.5173000e+04, 1.0172630e+05],
       [2.0020000e+03, 1.0119300e+05, 1.0614738e+05],
       [2.0200000e+03, 0.0000000e+00, 9.4564400e+04],
       [1.9940000e+03, 9.8079000e+04, 1.3352984e+05],
       [1.9910000e+03, 1.0295900e+05, 1.2568465e+05],
       [2.0200000e+03, 0.0000000e+00, 1.2159621e+05],
       [2.0200000e+03, 0.0000000e+00, 7.1367100e+04],
       [2.0160000e+03, 5.7950000e+03, 9.5347750e+04],
       [2.0200000e+03, 0.0000000e+00, 1.0543284e+05],
       [2.0020000e+03, 5.8848000e+04, 5.7045270e+04],
       [1.9910000e+03, 9.4381000e+04, 1.2043270e+05],
       [1.9970000e+03, 3.0163000e+04, 7.0707200e+04],
       [1.9950000e+03, 5.3332000e+04, 6.9105180e+04],
       [2.0180000e+03, 1.7720000e+04, 5.9358690e+04],
       [1.9910000e+03, 3.3808000e+04, 6.5955400e+04],
       [2.0140000e+03, 9.0684000e+04, 6.0017030e+04],
       [1.9950000e+03, 4.3975000e+04, 1.1890952e+05],
       [2.0200000e+03, 0.0000000e+00, 5.1606590e+04],
       [2.0200000e+03, 0.0000000e+00, 1.2328187e+05],
       [2.0090000e+03, 5.5260000e+03, 6.9770180e+04],
       [2.0200000e+03, 0.0000000e+00, 1.0260954e+05],
       [2.0130000e+03, 9.3415000e+04, 6.7997190e+04],
       [2.0030000e+03, 4.0762000e+04, 1.3523529e+05],
       [2.0200000e+03, 0.0000000e+00, 8.6641340e+04],
       [2.0020000e+03, 8.6302000e+04, 1.3681839e+05],
       [2.0200000e+03, 0.0000000e+00, 1.1762673e+05],
       [2.0020000e+03, 9.7550000e+03, 5.6208700e+04],
       [2.0040000e+03, 6.9945000e+04, 8.4222650e+04],
       [2.0010000e+03, 2.3950000e+03, 9.0781650e+04],
       [2.0200000e+03, 0.0000000e+00, 6.4701100e+04],
       [2.0030000e+03, 8.0349000e+04, 1.2635049e+05],
       [2.0090000e+03, 8.5554000e+04, 1.4815289e+05],
       [2.0060000e+03, 5.0496000e+04, 1.3229883e+05],
       [2.0000000e+03, 6.7716000e+04, 1.3762763e+05],
       [2.0060000e+03, 9.3947000e+04, 8.0422710e+04],
       [2.0100000e+03, 3.5345000e+04, 5.6373990e+04],
       [1.9940000e+03, 8.1007000e+04, 7.0846030e+04],
       [2.0070000e+03, 1.1951300e+05, 1.2869423e+05],
       [2.0200000e+03, 0.0000000e+00, 1.3332919e+05],
       [2.0200000e+03, 0.0000000e+00, 1.3196143e+05],
       [2.0200000e+03, 0.0000000e+00, 1.1203327e+05],
       [2.0200000e+03, 0.0000000e+00, 8.1399350e+04],
       [2.0200000e+03, 0.0000000e+00, 9.7163100e+04],
       [2.0170000e+03, 1.1889500e+05, 6.6007160e+04],
       [2.0110000e+03, 4.8509000e+04, 1.2877622e+05],
       [2.0010000e+03, 1.0091200e+05, 1.4262302e+05],
       [1.9960000e+03, 9.5649000e+04, 1.3693013e+05],
       [2.0200000e+03, 0.0000000e+00, 6.6526610e+04],
       [1.9940000e+03, 9.0495000e+04, 1.1415487e+05],
       [2.0200000e+03, 0.0000000e+00, 1.4239275e+05],
       [2.0070000e+03, 2.9132000e+04, 1.4671691e+05],
       [1.9940000e+03, 2.3802000e+04, 1.2248568e+05],
       [2.0070000e+03, 8.4992000e+04, 9.7951030e+04],
       [1.9970000e+03, 5.4395000e+04, 7.8283490e+04],
       [2.0060000e+03, 2.6731000e+04, 8.3434040e+04],
       [2.0130000e+03, 4.4329000e+04, 7.7836230e+04],
       [1.9940000e+03, 1.1823600e+05, 6.0813920e+04],
       [2.0080000e+03, 1.1380800e+05, 9.1353860e+04],
       [2.0080000e+03, 6.1000000e+02, 1.1628121e+05],
       [2.0200000e+03, 0.0000000e+00, 1.4519770e+05],
       [2.0200000e+03, 0.0000000e+00, 5.0742100e+04],
       [1.9990000e+03, 1.2887000e+04, 7.3033530e+04],
       [2.0070000e+03, 7.9607000e+04, 5.4332870e+04],
       [1.9930000e+03, 9.0924000e+04, 5.2207450e+04],
       [1.9950000e+03, 4.2733000e+04, 6.3578500e+04],
       [2.0200000e+03, 0.0000000e+00, 6.4507720e+04],
       [2.0200000e+03, 0.0000000e+00, 1.1507559e+05],
       [2.0160000e+03, 1.1771400e+05, 1.3303060e+05],
       [2.0110000e+03, 1.1388500e+05, 1.4159186e+05],
       [2.0200000e+03, 0.0000000e+00, 1.0038028e+05],
       [2.0020000e+03, 3.0511000e+04, 9.6369040e+04],
       [2.0130000e+03, 7.4867000e+04, 1.4260384e+05],
       [2.0170000e+03, 1.1976000e+05, 1.1770967e+05],
       [2.0160000e+03, 8.3560000e+03, 1.0224154e+05],
       [2.0080000e+03, 6.4247000e+04, 9.6065380e+04],
       [2.0180000e+03, 8.8661000e+04, 5.3894610e+04],
       [2.0030000e+03, 4.5390000e+03, 1.2391178e+05],
       [2.0030000e+03, 1.1011600e+05, 1.0199635e+05],
       [2.0040000e+03, 3.3215000e+04, 8.3431660e+04],
       [2.0100000e+03, 9.2001000e+04, 1.2297563e+05],
       [2.0200000e+03, 0.0000000e+00, 9.3227730e+04],
       [2.0060000e+03, 8.1708000e+04, 5.8762650e+04],
       [2.0010000e+03, 7.0641000e+04, 1.3954967e+05],
       [2.0200000e+03, 0.0000000e+00, 1.2201642e+05],
       [2.0150000e+03, 9.1277000e+04, 7.2731980e+04],
       [2.0180000e+03, 2.6544000e+04, 8.8416540e+04],
       [2.0170000e+03, 5.2596000e+04, 7.3873420e+04],
       [1.9920000e+03, 4.7503000e+04, 7.0709340e+04],
       [2.0010000e+03, 8.9056000e+04, 1.1530650e+05],
       [1.9930000e+03, 2.8834000e+04, 5.5924630e+04],
       [1.9950000e+03, 1.1056400e+05, 8.5052260e+04],
       [2.0030000e+03, 5.6638000e+04, 5.6646340e+04],
       [2.0140000e+03, 1.7357000e+04, 1.3894688e+05],
       [2.0080000e+03, 7.4015000e+04, 1.0825672e+05],
       [2.0130000e+03, 1.5196000e+04, 5.8979300e+04],
       [2.0200000e+03, 0.0000000e+00, 1.1472768e+05],
       [2.0170000e+03, 1.0821000e+04, 1.3966148e+05],
       [2.0200000e+03, 0.0000000e+00, 8.0382240e+04],
       [2.0200000e+03, 0.0000000e+00, 1.4915717e+05],
       [2.0060000e+03, 9.5950000e+03, 8.7830410e+04],
       [2.0150000e+03, 9.9052000e+04, 1.4356822e+05],
       [2.0070000e+03, 5.2389000e+04, 1.3817185e+05],
       [2.0050000e+03, 1.1994500e+05, 1.1578495e+05],
       [2.0170000e+03, 9.6005000e+04, 1.4650899e+05],
       [1.9980000e+03, 3.1639000e+04, 1.3767023e+05],
       [2.0200000e+03, 0.0000000e+00, 1.3859727e+05],
       [1.9990000e+03, 8.0187000e+04, 1.4762781e+05],
       [2.0200000e+03, 0.0000000e+00, 6.2999020e+04],
       [2.0090000e+03, 5.8212000e+04, 9.1242440e+04],
       [2.0030000e+03, 6.1672000e+04, 1.4948992e+05],
       [1.9940000e+03, 3.2017000e+04, 6.3529950e+04],
       [2.0200000e+03, 0.0000000e+00, 5.8525410e+04],
       [1.9940000e+03, 5.6944000e+04, 9.0345050e+04],
       [2.0200000e+03, 0.0000000e+00, 1.4777087e+05],
       [2.0150000e+03, 8.6519000e+04, 1.0661771e+05],
       [1.9960000e+03, 4.8210000e+03, 1.0492988e+05],
       [1.9970000e+03, 1.0102500e+05, 1.0071245e+05],
       [1.9930000e+03, 3.0705000e+04, 1.4198293e+05],
       [2.0200000e+03, 0.0000000e+00, 1.0403879e+05],
       [1.9920000e+03, 3.2555000e+04, 8.8501540e+04],
       [1.9950000e+03, 1.0338900e+05, 7.9782020e+04],
       [2.0200000e+03, 0.0000000e+00, 8.6224100e+04],
       [1.9900000e+03, 5.5289000e+04, 1.0359618e+05],
       [2.0200000e+03, 0.0000000e+00, 1.4899647e+05],
       [2.0200000e+03, 0.0000000e+00, 6.0948010e+04],
       [1.9910000e+03, 1.1593000e+05, 6.9535440e+04],
       [1.9900000e+03, 6.6437000e+04, 1.1113033e+05],
       [2.0120000e+03, 9.6800000e+04, 6.5847690e+04],
       [2.0070000e+03, 1.4237000e+04, 7.8096060e+04],
       [2.0130000e+03, 1.9896000e+04, 6.9219890e+04],
       [2.0000000e+03, 1.1304500e+05, 1.4411891e+05],
       [2.0020000e+03, 1.1494200e+05, 7.7397050e+04],
       [1.9960000e+03, 3.1730000e+03, 6.8974250e+04],
       [1.9960000e+03, 8.3611000e+04, 1.2523130e+05],
       [2.0150000e+03, 2.5356000e+04, 8.5501120e+04],
       [1.9930000e+03, 8.8634000e+04, 1.3711621e+05],
       [2.0130000e+03, 2.3140000e+03, 1.3882381e+05],
       [2.0130000e+03, 2.6270000e+03, 1.1796195e+05],
       [2.0090000e+03, 5.2034000e+04, 1.3266232e+05],
       [2.0200000e+03, 0.0000000e+00, 1.4640579e+05],
       [2.0200000e+03, 0.0000000e+00, 8.1999210e+04],
       [2.0020000e+03, 7.9577000e+04, 1.4093460e+05],
       [1.9970000e+03, 1.0820100e+05, 8.2366810e+04],
       [1.9980000e+03, 7.6453000e+04, 7.0424110e+04],
       [2.0040000e+03, 5.7683000e+04, 5.3620310e+04],
       [1.9960000e+03, 9.6610000e+04, 7.3389180e+04],
       [2.0150000e+03, 1.0900100e+05, 1.1161812e+05],
       [2.0160000e+03, 2.6212000e+04, 1.1218737e+05],
       [2.0050000e+03, 4.5971000e+04, 1.2081257e+05],
       [1.9990000e+03, 4.9182000e+04, 1.1603104e+05],
       [1.9950000e+03, 4.9907000e+04, 1.2539811e+05],
       [1.9930000e+03, 3.8620000e+04, 7.6101470e+04],
       [2.0040000e+03, 6.0996000e+04, 7.5263240e+04],
       [2.0130000e+03, 7.3914000e+04, 1.4738776e+05],
       [1.9980000e+03, 1.0739200e+05, 8.5311400e+04],
       [2.0180000e+03, 9.1460000e+03, 5.4388110e+04],
       [2.0200000e+03, 0.0000000e+00, 1.2415665e+05],
       [2.0180000e+03, 1.7924000e+04, 1.4620334e+05],
       [2.0200000e+03, 0.0000000e+00, 5.6453940e+04],
       [1.9900000e+03, 1.1694900e+05, 6.8873790e+04],
       [2.0090000e+03, 2.0476000e+04, 9.1667610e+04],
       [1.9900000e+03, 5.2804000e+04, 9.3776520e+04],
       [2.0060000e+03, 8.8490000e+03, 6.6433820e+04],
       [2.0020000e+03, 9.1724000e+04, 1.0905927e+05],
       [1.9910000e+03, 3.2056000e+04, 1.2206997e+05],
       [1.9920000e+03, 7.4886000e+04, 1.1309032e+05],
       [2.0200000e+03, 0.0000000e+00, 8.9401100e+04],
       [2.0200000e+03, 0.0000000e+00, 5.6842790e+04],
       [2.0050000e+03, 5.2189000e+04, 1.4667671e+05],
       [2.0100000e+03, 8.3559000e+04, 8.9511960e+04],
       [2.0200000e+03, 0.0000000e+00, 9.7290180e+04],
       [2.0160000e+03, 2.0328000e+04, 1.2067356e+05],
       [2.0200000e+03, 0.0000000e+00, 1.1443494e+05],
       [2.0100000e+03, 7.5577000e+04, 1.3954669e+05],
       [1.9940000e+03, 3.3659000e+04, 9.5078160e+04],
       [2.0010000e+03, 1.0434100e+05, 6.8091770e+04],
       [2.0140000e+03, 2.5510000e+04, 6.1496970e+04],
       [1.9960000e+03, 1.8965000e+04, 1.3966930e+05],
       [1.9930000e+03, 8.7161000e+04, 8.0661390e+04],
       [1.9930000e+03, 6.6520000e+03, 6.1783650e+04],
       [2.0010000e+03, 5.5738000e+04, 5.2805910e+04],
       [2.0200000e+03, 0.0000000e+00, 1.2702475e+05],
       [2.0200000e+03, 0.0000000e+00, 1.3554300e+05],
       [2.0200000e+03, 0.0000000e+00, 1.2170873e+05],
       [2.0070000e+03, 6.4320000e+04, 1.0734268e+05],
       [2.0200000e+03, 0.0000000e+00, 5.7888100e+04],
       [2.0160000e+03, 6.8678000e+04, 1.1816148e+05],
       [2.0140000e+03, 7.1697000e+04, 1.4249906e+05],
       [2.0200000e+03, 0.0000000e+00, 1.2839611e+05],
       [2.0150000e+03, 3.4783000e+04, 1.1235061e+05],
       [2.0150000e+03, 3.3772000e+04, 1.2466138e+05],
       [1.9960000e+03, 8.5127000e+04, 5.4263160e+04],
       [2.0020000e+03, 1.3606000e+04, 6.2041320e+04],
       [2.0050000e+03, 3.5647000e+04, 1.2929611e+05],
       [1.9950000e+03, 9.5128000e+04, 6.0998330e+04],
       [1.9990000e+03, 1.4046000e+04, 5.8008500e+04],
       [2.0050000e+03, 4.1194000e+04, 8.2304190e+04],
       [2.0200000e+03, 0.0000000e+00, 1.1453174e+05],
       [1.9970000e+03, 9.6100000e+04, 1.2856561e+05],
       [1.9900000e+03, 1.0390000e+05, 1.2648826e+05],
       [2.0010000e+03, 4.3814000e+04, 1.1907455e+05],
       [2.0130000e+03, 2.4638000e+04, 1.3023804e+05],
       [2.0200000e+03, 0.0000000e+00, 1.1576017e+05],
       [2.0170000e+03, 1.1096600e+05, 1.2124800e+05],
       [2.0110000e+03, 1.5987000e+04, 9.8156350e+04],
       [2.0050000e+03, 5.3369000e+04, 1.1214680e+05],
       [2.0070000e+03, 1.0077000e+04, 1.0272963e+05],
       [1.9930000e+03, 7.1544000e+04, 1.4108335e+05],
       [1.9910000e+03, 1.0700000e+02, 1.0296876e+05],
       [1.9910000e+03, 8.3940000e+03, 7.6310010e+04],
       [1.9970000e+03, 4.1498000e+04, 1.2048174e+05],
       [2.0000000e+03, 1.1600200e+05, 5.4559180e+04],
       [2.0070000e+03, 1.0085800e+05, 9.2957640e+04],
       [2.0060000e+03, 6.7475000e+04, 1.2781006e+05],
       [2.0150000e+03, 8.4970000e+03, 7.3311750e+04],
       [2.0080000e+03, 4.4200000e+03, 6.5138030e+04],
       [2.0200000e+03, 0.0000000e+00, 9.0141470e+04],
       [1.9960000e+03, 5.8537000e+04, 7.1160360e+04],
       [2.0200000e+03, 0.0000000e+00, 6.7539790e+04],
       [2.0200000e+03, 0.0000000e+00, 6.7664860e+04],
       [2.0140000e+03, 1.1201600e+05, 6.8652160e+04],
       [2.0040000e+03, 9.1840000e+04, 1.1472874e+05],
       [2.0080000e+03, 1.1278700e+05, 1.4164508e+05],
       [2.0200000e+03, 0.0000000e+00, 1.2624784e+05],
       [2.0200000e+03, 0.0000000e+00, 1.2885221e+05],
       [2.0120000e+03, 9.2930000e+03, 1.3238476e+05],
       [2.0200000e+03, 0.0000000e+00, 1.2941533e+05],
       [1.9960000e+03, 5.5083000e+04, 8.9536820e+04],
       [2.0110000e+03, 4.8796000e+04, 8.7975300e+04],
       [2.0200000e+03, 0.0000000e+00, 7.7675790e+04],
       [2.0100000e+03, 8.9685000e+04, 5.8881670e+04],
       [2.0070000e+03, 8.5384000e+04, 5.5081990e+04],
       [1.9940000e+03, 9.8108000e+04, 1.1882644e+05],
       [2.0070000e+03, 7.1280000e+04, 1.3762762e+05],
       [2.0140000e+03, 2.7505000e+04, 5.1759580e+04],
       [1.9910000e+03, 2.9981000e+04, 5.1667060e+04],
       [2.0020000e+03, 5.2637000e+04, 6.8934030e+04],
       [1.9960000e+03, 7.6850000e+03, 1.2211090e+05],
       [1.9920000e+03, 5.0188000e+04, 9.0381470e+04]])

In [51]:
ds.shape

(258, 3)

In [64]:
media_kilometros = np.mean(ds[::,1])
media_kilometros

44499.41472868217

In [65]:
media_valor = np.mean(ds[::,2])
round(media_valor, 2)

98960.51

In [62]:
np.mean(ds, axis = 0)

array([ 2007.74806202, 44499.41472868, 98960.51310078])

In [66]:
media_kilometros = np.std(ds[::,1])
media_kilometros

39859.82699005149

In [67]:
media_valor = np.std(ds[::,2])
round(media_valor, 2)

29754.1

In [70]:
ds.sum(axis=0)

array([  517999.        , 11480849.        , 25531812.37999999])

In [71]:
np.sum(ds, axis=0)

array([  517999.        , 11480849.        , 25531812.37999999])

In [72]:
np.sum(ds[::, 2])

25531812.38

In [73]:
import pandas as pd

In [84]:
df = pd.DataFrame(data=ds, columns=['años','km', 'valor'])
result = df.groupby('años').mean()
result.head(10)

                  km         valor
años
1990.0  72083.666667  96116.206667
1991.0  47036.444444  93420.658889
1992.0  51283.000000  90670.667500
1993.0  55384.250000  93357.635000
1994.0  70260.777778  96623.326667
1995.0  71289.714286  86117.702857
1996.0  50926.100000  98619.528000
1997.0  71897.000000  96852.883333
1998.0  71828.000000  97801.913333
1999.0  39075.500000  98675.220000